/* font-family: 'Source Sans Pro', sans-serif; */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    color: #404040;
    text-align: center;
}

/*============
Typography
==============*/
h1 {
    color: #FFF;
    font-size: 2.25rem; /* 36px */
    font-weight: 400;
    margin: 2em 0;
}

h1 + p,
.intro-top-text {
    color:#F18119;
}

h1 + p {
    font-size: 1.3125rem;
    font-weight: 900;
    text-transform: uppercase; 
    letter-spacing: .08rem;
    margin: 0;
}
/* another way to do this, where class is define in HTML
.intro-bottom-text {
    color: #F18119;
    font-size: 1.3125rem;
    font-weight: 900;
 } */

h2 {
    font-size: 1.3125rem; /* 21px */
    font-weight: 900;
    margin: 0;
}

h2 + p {
    color: #F18119;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 0;
}

.intro-top-text {
    font-size: 0.625rem;
    font-weight: 900;
    /* border-top: 9px solid #F18119; */
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 0;
    order: -1;
}

.main-content-fine-text {
    font-size: 0.625rem;
    color: #989898;
    letter-spacing: 1px;
}

strong {
    font-weight: 900;
}

/*============
intro
==============*/

.intro {
    background-color: #404040;
    background-image:url(../images/dark-ribs.jpg);
    padding: 0.5em 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
}

/*============
main-content
==============*/

.main-content {
    padding: 2em 1em;
}

.intro > *,
.main-content > * {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* Another way to do it, add a container and container-intro class in html
This is to maintain the width space from overly spread out and looking awkward
for .intro and .main-content section

.container {
    max-width: 400px;
    margin: 0 auto;
}

.container-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 50vh;
}
*/

/*============
media-query
==============*/

@media (min-width:500px) {
    body {
        font-size: 1.125rem;
        display:flex;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2,
    h1 + p {
        font-size: 1.75rem;
    }

    h2 + p {
        font-size: 1.125rem;
    }

    .intro,
    .main-content {
        width:50%;
        min-height: 100vh;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

}
